
.site_body_contayner{
	display: flex;
	flex-direction: column;
}

.add_background{
	color: white;
	position: absolute;
	background: #1a4e5b;
	top: 45px;
	right: 0;
	padding: 5px;
	border-radius: 4px 0 0 4px;

}

.wallpaper{
	align-items:stretch;
}

.background{
	background: #008199;
	background-size: 100% 100%; 
	background-image: url(img/wallpaper.jpg)  ;
	height: 250px;

}

.main_site_body_container{
	background: black;
	color: white;
	display: flex;
	flex-direction: row;
}

.main_site_body_container > div, .information, .information div{
	display: flex;
	align-items: center;
}

.your_block{
	width: 400px;
	display: flex;
	flex-direction: column;
}

.wallet_block{
	width: 65%;
}																						
.avatar{
	position: absolute;
	top: 100px;
}


.avatar img{
	border-radius: 20px 20px 0 0;
	width: 220px;
	height: 220px;
}																																																																																																																																																																																																																																																																																																																																																																																																																																																																													

.information{
	display: flex;
	flex-direction: column;																																																																																																																																																																																																																																											
	margin-top: 25px;	

}

#inf_text{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 204px;
	padding: 8px;																																																																																																																																																																																																																																																																																																																																																																																							
	border: 2px solid #4f837a;
	border-radius: 4px 																																																																																																																																																																																																																																																																																																	4px 0 0;
}

.more_inf{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;	
	margin-right: 10px;
	margin-left: 40px;

}


.more_inf div{
	font-size: 12px;
	display: flex;
	flex-direction: column;
	margin-right: 10px;
	width: 60px;
	height: 90px;	
}

.more_inf div p{
	margin: 5px 0 0 0;
}

.more_inf div img{
	width: 35px;
	height: 35px;
}

.wall{
	width: 100%;
	display: flex;
	flex-direction: column;
}


.name_and_status{
	position: absolute;
	top: 170px;
	left: 300px;
	flex-direction: column;
}

.name{
	font-size: 30px;
}
.status{
	position: absolute;
	top: 55px;
	left: 10px;
}

.my_date{
	display: flex;
	flex-direction: column;
	margin: 10px 0 0 10px;
}

.my_date > div{
	padding:5px;
	display: flex;
	flex-direction: column;	
	width: 300px;

}

.my_date > div > div {
	margin-left: 160px;
	margin-top: -18px;
}

.about_me{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.private_inf{
	justify-content: space-between;
	display: flex;
	width: 100%;
}

.my_rating{
	display: flex;
	padding: 10px;
	font-size: 30px;

}

#rating{
	display: flex;
	justify-content: center;
	margin-left: 10px;
	height: 35px;
	width: 40px;
	border-radius: 8px;
	background: linear-gradient(to top, #53a7c9, #1d86b4);
}


#show_detail > div{
	margin: 10px 5px 10px 5px;
}

#show_detail {
	margin-bottom: 10px;
	border-radius: 50px;
	border-color: #797e84;
	border-style: solid;

}

.my_music{
	width: 100%;

}

#current_music {
	padding: 10px;
	margin: 0 20px 0 20px;
	border-radius: 10px 10px 0 0;
	display: flex;
	justify-content: space-between;
	border: 2px solid white;
}

#play_music{
	margin-right: 5px;
	width: 18px;
	height: 18px;
	background: url(img/staticmp3.png) no-repeat -31px -12px;
}

.list_music > div{
	display: flex;
	margin: 10px 20px 0 20px;
}

#author_music{
	color: #009EB5;
}

.records_or_all{
	width: 96%;
}

.records_or_all > div{
	display: flex;
}

.records_or_all > div > p{
		padding: 5px;
		border-radius: 5px;
}
#all{
	border-radius: : 2px ;
	background: #009EB1;
	margin-left: 5px;
}

.records_or_all > div > p:hover{
		background: #474a4c;
}

.my_photo_record{
	background: white;
	width:600px;
	height: 710px;
	margin-bottom: 20px;
}

.my_photo_record_header{
	margin: 10px;
	display: flex;
}

#mini_avatarka{
	width: 40px;
	height: 40px;
}

.my_photo_record_date{
	height: 50px;
	margin-left: 25px;
	display: flex;
	flex-direction: column;
	color: #3D5195;
}

.my_photo_record_img{
	width: 600px;
	height: 600px;
}

.my_photo_record_img img{
	background-color: #797e84;
	width: 600px;
	height: 600px;
}

.my_photo_record_footer{
	color: black;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.my_photo_record_footer div{
	display: flex;
	align-items: center;
	padding:5px;
	text-align: center;
}

.my_photo_record_footer img{
	width: 30px;
	height: 30px;
	margin-right: 4px;
}

.my_photo_record_footer div:hover{
	border-radius: 5px;
	background: blue;
}