a {
	color: #fff;
	text-decoration: none;
}

body, p{
	margin: 0;
	padding: 0;
}




.block_header{
	flex-direction: column;
}

.header {
	display: flex;
	height: 20px;
	justify-content: space-between;
	padding: 10px;
	background: #00A0AB;
	font-family: Helvetica;
	color: white;
	background: linear-gradient(to top,#01b8c1,#00A0AB);
}

.header_item, .headerButton img {
	width: 20px;
	height: 20px;
}

.header_section, .header_section_two{
	display: flex;
	align-items: center;
}

.header_item{
	padding:5px 10px;
	font-size: 10px;
	margin-left: 5px;
}

.header_section div:first-child{
	margin-right: 30px;	
	padding: 10px 0px;
	
}

.header_item:hover{
	background-color: #ff9900;
	border-radius: 4px;
}

.headerButton{
	cursor: pointer;
}

.logo{
	align-items: center;
	font-size: 20px;
}

.site_body_contayner{
	display: flex;
	flex-direction: column;
}

.add_background{
	color: white;
	position: absolute;
	background: #1a4e5b;
	top: 45px;
	right: 0;
	padding: 5px;
	border-radius: 4px 0 0 4px;

}

.wallpaper{
	align-items:stretch;
}

.background{
	background: #008199;
	background-size: 100% 100%; 
	background-image: url(img/wallpaper.jpg)  ;
	height: 250px;

}

.main_site_body_container{
	background: black;
	color: white;
	display: flex;
	flex-direction: row;
}

.main_site_body_container > div, .information, .information div{
	display: flex;
	align-items: center;
}

.your_block{
	width: 300px;
	display: flex;
	flex-direction: column;
}

.wallet_block{
	width: 65%;
}																						
.avatar{
	position: absolute;
	top: 100px;
}


.avatar img{
	border-radius: 20px 20px 0 0;
	width: 220px;
	height: 220px;
}																																																																																																																																																																																																																																																																																																																																																																																																																																																																													

.information{
	display: flex;
	flex-direction: column;																																																																																																																																																																																																																																											
	margin-top: 25px;	

}

#inf_text{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 204px;
	padding: 8px;																																																																																																																																																																																																																																																																																																																																																																																							
	border: 2px solid #4f837a;
	border-radius: 4px 																																																																																																																																																																																																																																																																																																	4px 0 0;
}

.more_inf{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;	
	margin-right: 10px;
	margin-left: 10px;

}


.more_inf div{
	font-size: 12px;
	display: flex;
	flex-direction: column;
	margin-right: 10px;
	width: 55px;
	height: 90px;	
}

.more_inf div p{
	margin: 5px 0 0 0;
}

.more_inf div img{
	width: 30px;
	height: 30px;
}

.wall{
	width: 100%;
	display: flex;
	flex-direction: column;
}


.name_and_status{
	position: absolute;
	top: 170px;
	left: 300px;
	flex-direction: column;
}

.name{
	font-size: 30px;
}
.status{
	position: absolute;
	top: 55px;
	left: 10px;
}

.my_date{
	display: flex;
	flex-direction: column;
	margin: 10px 0 0 10px;
}

.my_date > div{
	padding:5px;
	display: flex;
	flex-direction: column;	
	width: 300px;

}

.my_date > div > div {
	margin-left: 160px;
	margin-top: -18px;
}

.about_me{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.private_inf{
		justify-content: space-between;
	display: flex;
	width: 100%;
}

.my_rating{
	display: flex;
	padding: 10px;
	font-size: 30px;

}

#rating{
	display: flex;
	justify-content: center;
	margin-left: 10px;
	height: 35px;
	width: 40px;
	border-radius: 8px;
	background: linear-gradient(to top, #53a7c9, #1d86b4);
}


#show_detail > div{
	margin: 10px 0 10px 0;
}

.my_music{
	width: 100%;

}

#current_music {
	padding: 10px;
	margin: 0 20px 0 20px;
	border-radius: 10px 10px 0 0;
	display: flex;
	justify-content: space-between;
	border: 2px solid white;
}

#play_music{
	margin-right: 5px;
	width: 18px;
	height: 18px;
	background: url(img/staticmp3.png) no-repeat -31px -12px;
}

.list_music > div{
	display: flex;
	margin: 10px 20px 0 20px;
}

#author_music{
	color: #009EB5;
}

.records_or_all{
	width: 94%;
}

.records_or_all > div{
	display: flex;
}

.records_or_all > div > p{
		padding: 5px;
		border-radius: 5px;
}
#all{
	border-radius: : 2px ;
	background: #009EB1;
	margin-left: 5px;
}

.records_or_all > div > p:hover{
		background: #474a4c;
}